	<br/>
	<br/>
	<br/>
		<br/>
	<footer id="footer" class="page-footer" th:fragment="footer" style="background-color: #5C5552;">
		<hr/>
		<center>
			<p class="text-light">Made by ADF</p>
		</center>
	</footer>
	</div>
</body>

</html>