<div th:replace="fragments/header"></div>
<div class="container">
  <center>
    <h1>Add Conference</h1>
    <br />

    <form
      action="/add-conference"
      method="POST"
      th:object="${conference}"
    >
      <center>
        <div class="input-group col-sm-8">
          <span class="input-group-addon col-3">Name</span>
          <input type="text" th:field="*{nama}" class="form-control col-9" />
        </div>

        <br />

        <div class="input-group col-sm-8">
          <span class="input-group-addon col-3">Room</span>
          <input
            type="text"
            th:field="*{ruanganDipakai}"
            class="form-control col-9"
          />
        </div>

        <br />

        <div class="input-group col-sm-8">
          <span class="input-group-addon col-3">Start Date</span>
          <input
            type="date"
            th:field="*{tanggalMulai}"
            class="form-control col-9"
          />
        </div>

        <br />

        <div class="input-group col-sm-8">
          <span class="input-group-addon col-3">Abstract</span>
          <textarea rows="3" maxlength="200" type="text" th:field="*{abstrak}" class="form-control col-9"></textarea>
        </div>

        <br />
        <div>
          <input type="submit" value="Submit" class="btn btn-primary col-8" />
        </div>
      </center>
      <input
        type="hidden"
        th:name="${_csrf.parameterName}"
        th:value="${_csrf.token}"
      />
    </form>
  </center>
</div>

<script>
  $(document).ready(function() {});
</script>
<div th:replace="fragments/footer"></div>
